#content{
 background-color:darkgrey;
 margin-top:20px;
 margin-bottom:10px;
 margin-left:30px;
 margin-right:30px;
 background-image:url('logo.png');
 background-repeat:repeat;
}
#Accordion1 {
    border:double;
    background-color:blueviolet;
    border-radius:5px;
    margin:10px;
    padding:5px;
}
.header_accordion {
    color: aqua;
    font-size: medium;
    border: dashed;
}
.content_accordion{
    background-color:coral;
    color:floralwhite;
    font-style:italic;
    border-radius:15px;
    padding:10px;
}
#Accordion1#btnsend {
    border:none;
    background-color:yellow;
    color:gray;
}